    .fixed
    {
        position: fixed;
        top: 2em;
        background: #ccc;
        z-index: 10;
    }
    .slogan
    {
      position: fixed;
        z-index: 10;

      background: #fff;
      opacity: .8;

          top: 80%;
    left: 20%;
      height: 20ex;
    }

    .boxInner
    {
      background: #fff url('../assets/default.gif') center no-repeat;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    body {
       margin: 0;
       padding: 0;
       background: #EEE;
       font: 10px/13px 'Lucida Sans',sans-serif;
    }
    .wrap {
       overflow: hidden;
       margin: 10px;
    }
    .box {
       float: left;
       position: relative;
       width: 20%;
       padding-bottom: 20%;
    }
    .boxInner {
       position: absolute;
       left: 5px;
       right: 5px;
       top: 5px;
       bottom: 5px;
       overflow: hidden;
    }
    .boxInner img {
       width: 100%;
    }
    .boxInner .titleBox {
        visibility: hidden;

       position: absolute;
       bottom: 0;
       left: 0;
       right: 0;
       margin-bottom: -50px;
       background: #000;
       background: rgba(0, 0, 0, 0.5);
       color: #FFF;
       padding: 10px;
       text-align: center;
       -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
       transition: all 0.3s ease-out;
    }
    body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
       margin-bottom: 0;
    }
    @media only screen and (max-width : 480px) {
       /* Smartphone view: 1 tile */
       .box {
          width: 100%;
          padding-bottom: 100%;
       }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
       /* Tablet view: 2 tiles */
       .box {
          width: 50%;
          padding-bottom: 50%;
       }
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
       /* Small desktop / ipad view: 3 tiles */
       .box {
          width: 33.3%;
          padding-bottom: 33.3%;
       }
    }
        @media only screen  and (min-width : 1051px) {
       /* Medium desktop: 4 tiles */
       .box {
          width: 10%; /* 25 puvodne */
          padding-bottom: 10%;
       }
    }
        @media only screen  and (min-width : 1176px) {
       /* Medium desktop: 4 tiles */
       .box {
          width: 5%; /* 25 puvodne */
          padding-bottom: 5%;
       }
    }
